<style>
.main-content{
  text-align: center;
}
.thumb1 {
background: /*url(blah.jpg)*/ 50% 50% no-repeat; /* 50% 50% centers image in div */
width: 250px;
height: 250px;
}
body{
  background: url(images/grid-layout.jpg) top left repeat;
  padding: 16px 0 16px 0;
  margin: 10% auto 10% auto;
  width: 50%;
  /*margin: 90px auto 90px auto;*/
  /*border: 5px solid #FF0000;*/
  text-align: center;
}
div img{
  /*padding: 10px 10px 10px 10px;*/
  border-radius: 50%;
  border : 2px solid #000000;
}
ul li{
  list-style-type: none;
  display: inline;
  padding: 0 10px 0 10px;
}
@font-face {
  font-family: monospace;
}

div, li, p{
  font-family: monospace;
  font-size: 20px;
}
</style>
