body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  align-items: center;
  text-align: center;
}

#section1 {
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 18%;
  margin-right: 10px;
  text-align: left;
}
.pictureSty {
  width: 350px;
  height: 350px;
  border-radius: 10%;
  align-items: right;
  border: 2.5px solid grey;
}

#data-title {
  font-size: 50px;
  padding: 0;
  margin-bottom: 0;
}

#data-body {
  font-size: x-large;
  padding: 5px;
  padding: 0%;
}

.myName {
  color: #fb743e;
  padding-bottom: 0px;
}
