body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  align-items: center;
  text-align: center;
}

.myName {
  color: #00b8a9;
  padding-bottom: 0px;
}

#section1 {
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 18%;
  margin-right: 6px;
  text-align: left;
}
.pictureSty {
  width: 350px;
  height: 350px;
  border-radius: 10%;
  align-items: right;
  border: 1px solid grey;
}
