html,
body {
  margin: 0;
  background-color: white;
}

#mainDiv {
  margin-left: 20%;
  margin-right: 20%;
}

.color-red {
  color: #cc3636;
}

a {
  text-decoration: none;
}

.fontstyle {
  font-family: "Courier New", Courier, monospace;
}

.titlefont {
  font-size: 3.43vw;
}

.sidetitlefont {
  font-size: 2.2vw;
}

.descfont {
  font-size: 1.5vw;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
  styles for all div containers
*/
#imageDiv {
  background-color: black;
  height: 400px;
  width: auto;
  overflow: hidden;
}

#nameDiv {
  padding-top: 1%;
  padding-bottom: 1%;
}

#descDiv {
  padding-top: 10px;
}

footer {
  text-align: center;
  font-size: 1.2vw;
  padding-top: 30px;
  padding-bottom: 10px;
}

hr {
  width: auto;
  border: 1px solid #cc3636;
}
