html,
body {
  margin: 0;
  background-color: white;
}

a,
span {
  color: #cc3636;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.fontStyle {
  text-align: left;
  padding-left: 20%;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 500;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
  styles for all div containers
*/
#imageDiv {
  background-color: black;
  height: 450px;
  width: auto;
  overflow: hidden;
}

#mainDiv {
  height: 100%;
  width: 100%;
}

#nameDiv {
  font-size: 3.43vw;
  padding-top: 3%;
  /* font-size: 40pt; */
}

#descDiv {
  font-size: 1.5vw;
}
